              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/blog/categories.html#java">
                      Java
                    </a>
                  </li>
                  <li>
                    <a href="/blog/categories.html#data">
                      海量数据
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#sql">
                      数据库
                    </a>
                  </li>
                  <li>
                    <a href="/blog/categories.html#nosql">
                      NoSQL
                    </a>
                  </li>
                  <li>
                    <a href="/blog/categories.html#other">
                      其它语言
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/blog/categories.html#linux">
                      Linux
                    </a>
                  </li>                  
		  <li>
                    <a href="/blog/categories.html#network">
                      网络
                    </a>
                  </li>
                  <li>
                    <a href="/blog/categories.html#algorithm">
                      算法
                    </a>
                  </li>
                  <li>
                    <a href="/blog/categories.html#water">
                      灌水
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
