            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/liuxinglanyue" target="_blank">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://bbs-java.appspot.com/" target="_blank">
                  GAE_BBS
                </a>
              </li>
              <li>
                <a href="http://liuxinglanyue.appspot.com/" target="_blank">
                  GAE_BLOG
                </a>
              </li>
              <li>
                <a href="http://www.douban.com/people/liuxinglanyue/" target="_blank">
                  豆瓣
                </a>
              </li>              
              <li>
                <a href="http://weibo.com/liuxinglanyue" target="_blank">
                  微博
                </a>
              </li>
            </ul>
