            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/liuxinglanyue">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://bbs-java.appspot.com/">
                  GAE_BBS
                </a>
              </li>
              <li>
                <a href="http://liuxinglanyue.appspot.com/">
                  GAE_BLOG
                </a>
              </li>
              <li>
                <a href="http://www.douban.com/people/liuxinglanyue/">
                  豆瓣
                </a>
              </li>              
              <li>
                <a href="http://weibo.com/liuxinglanyue">
                  微博
                </a>
              </li>
            </ul>