          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                归 档
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                问 答
              </a>
            </li>
            <li>
              <a href="/soft.html">
                开 源
              </a>
            </li>
            <li>
              <a href="/aboutme.html">
                关 于
              </a>
            </li>
          </ul>
